:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 960px;
    --main-width: 720px;
    --post-width: 720px;
    --header-height: 60px;
    --footer-height: 80px;
    --radius: 8px;
    --monospace: "Lucida Console", Monaco, "Consolas", monospace;

    --theme: #ffffff;
    --entry: #ffffff;
    --primary: #2e3440;
    --primary-dim: #434c5e;
    --secondary: #4c566a;
    --tertiary: #d8dee9;
    --tertiary-bg: #d8dee9;
    --content: #3b4252;
    --code-bg: #eceff4;
    --border: #4c566a;
    --link-background-color: #c5d2e1;
    --link-color: var(--primary);
    --link-hover-color: #5e81ac;
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: #5e81ac;
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
    --link-transition: all 0.3s ease;
    --line-yellow: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='%23fc0' stroke-width='3' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");

    /* for type pages theming */
    --signature: var(--primary);
    --signature-bg: var(--secondary);
}
@media screen and (max-width: 500px) {
    :root {
        --header-height: 52px;
    }

}

.dark {
    --theme: #22272F;
    --entry: #2e3440;
    --primary: #e5e9f0;
    --primary-dim: #d8dee9;
    --secondary: #CBD3E2;
    --tertiary: #2e3440;
    --tertiary-bg: #2e3440;
    --content: #eceff4;
    --code-bg: #2e3440;
    --border: #22272F;
    --link-background-color: #5e81ac;
    --link-color: var(--primary);
    --link-hover-color: #5e81ac;
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: var(--link-hover-color);
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
    --signature: var(--primary);
    --signature-bg: var(--secondary);
}

.list-page {
    background: var(--code-bg);
}

.dark.list-page {
    background: var(--theme);
}
