.mermaid {
    display: flex;
    justify-content: center;
    margin: 10px 0px 25px 0px
}

.default > rect {
    fill: var(--tertiary) !important;
    stroke: var(--content) !important;
}

.mermaid .label text {
    color: var(--content) !important;
}

.mermaid .cluster rect {
    fill: var(--theme) !important;
}

.mermaid .edgeLabel {
    background-color: var(--theme) !important;
}